*{
  margin: 0;
}
.App {
     text-align: center;
     color: antiquewhite;
     display: block;
     background-image: url("https://c.tenor.com/Fk8I9i-NSrQAAAAC/storm-lightning.gif");
     background-repeat: no-repeat;
    background-size: 100% 100%;
}
.city {
  background: rgba(255,255,255,.2);
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  
}

.weather {
  background: rgba(255,255,255,.2);
  height: 350px;
  width: 55%;
  border-radius: 20px;
  display: inline-block;
}

.details {
  background: rgba(255,255,255,.2);
  height: 350px;
  width: 55%;
  border-radius: 20px;
  display: inline-block;
  margin-top:3%;
}

.content-inner {
  display: inline-block;
  color: white;
  width: 50%;
}

.right-side {
  text-align: right;
}

.container-inner {
  padding: 30px;
}

.primary {
  font-size: 27px;
}

.secondary {
  font-size: 17px;
}

.temp {
  font-size: 90px;
}
